<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>QuietPanel</string>
	<key>CFBundleExecutable</key>
	<string>QuietPanel</string>
	<key>CFBundleIdentifier</key>
	<string>tw.codex.quietpanel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuietPanel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29</string>
		<string>Icon-40</string>
		<string>Icon-60</string>
		<string>Icon-76</string>
		<string>Icon-83.5</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-29</string>
				<string>Icon-40</string>
				<string>Icon-60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-29</string>
				<string>Icon-40</string>
				<string>Icon-76</string>
				<string>Icon-83.5</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0</string>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>QuietPanel 使用本機相片顯示相簿時鐘；照片不會上傳到 Mac 或網路。</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/font_digital.ttf</string>
		<string>Fonts/font_sans.ttf</string>
		<string>Fonts/font_serif.ttf</string>
		<string>Fonts/font_rounded.ttf</string>
		<string>Fonts/font_kai.ttf</string>
		<string>Fonts/font_heavy.ttf</string>
		<string>Fonts/font_orbitron.ttf</string>
		<string>Fonts/font_audiowide.ttf</string>
		<string>Fonts/font_oxanium.ttf</string>
		<string>Fonts/font_sairastencil.ttf</string>
		<string>Fonts/font_zendots.ttf</string>
		<string>Fonts/font_huninn.ttf</string>
		<string>Fonts/font_iansui.ttf</string>
		<string>Fonts/font_storopia.ttf</string>
		<string>Fonts/font_michroma.ttf</string>
		<string>Fonts/font_sharetechmono.ttf</string>
		<string>Fonts/font_righteous.ttf</string>
		<string>Fonts/font_bungee.ttf</string>
		<string>Fonts/font_spacemono.ttf</string>
		<string>Fonts/font_monoton.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
